.search-container {
  background-color: var(--pico-background-color);
  border-radius: 21px;
  position: fixed;
  width: auto;
  top: 20px;
  right: 20px;
  left: 20px;
  z-index: 999;
}

@media (min-width: 640px) {
  .search-container {
    right: unset;
    width: 300px;
  }
}

.search-container input {
  height: auto !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 14px !important;
  margin: 0 !important;
}

.results-container {
  overflow-y: scroll;
  max-height: 300px;
}

.results-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  user-select: none;
  list-style: none;
  padding: 5px 16px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.result-item:first-of-type {
  margin-top: 16px;
}

.result-item:last-of-type {
  margin-bottom: 16px;
}

.result-item:hover {
  cursor: pointer;
  background-color: var(--pico-primary-hover-background);
}

.result-item:active {
  background-color: var(--pico-primary-focus);
}

.result-item.active {
  background-color: var(--pico-primary-focus);
}

.result-item div:nth-child(2) {
  display: flex;
  align-items: center;
}

.result-item h3,
.result-item p {
  margin: 0;
}

.result-item h3 {
  font-size: 16px;
  font-weight: 600;
}

.result-item p {
  font-size: 14px;
  font-weight: 400;
}

.result-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: var(--pico-secondary-background);
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.result-item button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.result-item svg {
  width: 16px;
  height: 16px;
  fill: var(--pico-color);
}

.fab-my-location {
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 999 !important;
}

@media (min-width: 640px) {
  .fab-my-location {
    bottom: unset !important;
    top: 20px !important;
  }
}

.hidden {
  display: none;
}

.location-denied-alert {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.location-denied-alert p {
  text-align: center;
  font-size: 16px;
}
